<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en" dir="ltr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="icon" href="favicon.ico" type="image/x-icon"/>
<title>:: 实验器材管理 :: 课程管理</title>

<!-- Bootstrap Core and vandor -->


</head>
<head th:insert="~{university/import :: head}">
</head>
<style type="text/css">
    div.card{

    height: 352px;

    }
</style>
<body class="font-muli theme-cyan gradient">

<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
    </div>
</div>

<div id="main_content">
    <!-- Start Main top header -->
    <div th:insert="~{university/import :: header_top}"></div>

    <!-- Start Rightbar setting panel -->
    <div th:insert="~{university/import :: Rightbar}"></div>
    <!-- Start Main leftbar navigation -->
    <div th:insert="~{university/import :: navigation}"></div>
    <!-- Start project content area -->
    <div class="page">
        <!-- Start Page header -->
        <div th:insert="~{university/import :: page_top}"></div>
        <!-- Start Page titRightbarle and tab -->
        <div class="section-body">
            <div class="container-fluid">
                <div class="d-flex justify-content-between align-items-center ">
                    <div class="header-action">
                        <h1 class="page-title">课程管理</h1>
                        <ol class="breadcrumb page-breadcrumb">
                            <li class="breadcrumb-item"><a href="#">实验器材管理</a></li>
                            <li class="breadcrumb-item active" aria-current="page">课程管理</li>
                        </ol>
                    </div>
                    <div id="app">
                    <ul class="nav nav-tabs page-header-tab">
                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#Courses-all">课程列表</a></li>
                        <li class="nav-item"><a class="nav-link" id="Courses-tab-Boot" data-toggle="tab" href="#Courses-add-Boot">添加课程</a></li>
                        <!--<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Courses-add" @click="handleCreate()">添加开课计划</a></li>-->
                        <li class="nav-item"><a class="nav-link" data-toggle="tab"  @click="handleCreate()">添加开课计划</a></li>
                        <li class="nav-item"><a class="nav-link" id="fix-course-datail-tab" data-toggle="tab" href="#fix-course-datail-div">修改课程</a></li>
                    </ul>
                    <!-- 新增标签弹层 -->
                    <div class="add-form">
                        <el-dialog title="添加开课计划" :visible.sync="dialogFormVisible">
                            <template>
                                <el-tabs v-model="activeName" type="card">
                                    <el-tab-pane label="课程基本信息" name="first">
                                        <el-form label-position="right" label-width="100px">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    选择课程<select id="mId" class="form-control input-height" v-model="formData.courseId" name="courseId">
                                                        <option value="">选择课程</option>
                                                        <option th:each="course : ${courses}" th:value="${course.id}" th:text="${course.courseName}+'/'+${course.courseNo}"></option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input type="text" v-model="formData.num" name="num" class="form-control" placeholder="开课人数 ">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input type="text" v-model="formData.schoolTime" class="form-control" name="schoolTime" placeholder="开课时间 例如：19下">
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group">
                                                    <textarea v-model="formData.mark" name="mark" rows="4" class="form-control no-resize" placeholder="备注"></textarea>
                                                </div>
                                            </div>
                                        </el-form>
                                    </el-tab-pane>
                                    <el-tab-pane label="实验器材信息" name="second">
                                        <div class="checkScrol">
                                            <table class="datatable">
                                                <thead>
                                                <tr>
                                                    <th>选择</th>
                                                    <th>项目编码</th>
                                                    <th>项目名称</th>
                                                    <th>项目名称</th>
                                                    <th>项目说明</th>
                                                    <th>项目说明</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-for="c in tableData">
                                                    <td>
                                                        <input :id="c.id" v-model="checkitemIds" type="checkbox" :value="c.id">
                                                    </td>
                                                    <td><label :for="c.id">{{c.id}}</label></td>
                                                    <td><label :for="c.name">{{c.name}}</label></td>
                                                    <td><label :for="c.specification">{{c.specification}}</label></td>
                                                    <td><label :for="c.remark">{{c.remark}}</label></td>

                                                    <!--<td><label :for="c.per"><el-input v-model="formData.per" placeholder="请输入内容"></el-input>{{c.per}}</label></td>-->
                                                </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </el-tab-pane>
                                </el-tabs>
                            </template>
                            <div slot="footer" class="dialog-footer">
                                <el-button @click="dialogFormVisible = false">取消</el-button>
                                <el-button type="primary" @click="handleAdd()">确定</el-button>
                            </div>
                        </el-dialog>
                    </div></div>
                </div>
            </div>
        </div>
        <div class="section-body mt-4">
            <div class="container-fluid">
                <div class="tab-content">
                    <div class="tab-pane active" id="Courses-all">
                        <div class="row row-deck">
                            <div class="col-xl-4 col-lg-4 col-md-6" th:if="${coursePlans!=null}" th:each="courseplan: ${coursePlans}">
                                <div class="card">
                                    <!-- <a href="#"></a> -->
<!--                                    <div class="card-body d-flex flex-column">-->
<!--&lt;!&ndash;                                        <h5><a href="courses-details.html"></a></h5>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <div class="text-muted">Look, my liege! The Knights Who Say Ni demand a sacrifice!</div>&ndash;&gt;-->
<!--                                    </div>-->
                                    <div class="table-responsive">
                                        <input type="hidden" name="cpid" th:value="${courseplan.id}">
                                        <table class="table table-striped table-vcenter mb-0" >
                                            <tbody>
                                            <tr >
                                                <td class="w20"><i class="fa fa-calendar text-blue"></i></td>
                                                <td class="tx-medium">课程名</td>
                                                <td class="text-right" th:text="${courseplan.course.courseName}">60</td>
                                            </tr>
                                                <tr >
                                                <td class="w20"><i class="fa fa-calendar text-blue"></i></td>
                                                    <td class="tx-medium">开课人数</td>
                                                    <td class="text-right" th:text="${courseplan.num}"></td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fa fa-cc-visa text-danger"></i></td>
                                                    <td class="tx-medium">开课时间</td>
                                                    <td class="text-right" th:text="${courseplan.schoolTime}">2020.9.1</td>
                                                </tr>
                                                <tr>
                                                    <td><i class="fa fa-users text-warning"></i></td>
                                                    <td class="tx-medium" >课程编号</td>
                                                    <td class="text-right" th:text="${courseplan.course.courseNo}">125214</td>
                                                </tr>
                                            <tr>
                                                <td><i class="fa fa-users text-warning"></i></td>
                                                <td class="tx-medium" >备注</td>
                                                <td class="text-right" th:text="${courseplan.mark}">125214</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <button id="delete" th:onclick="'javascript:deleteOne(\''+${courseplan.id}+'\')'" type="button" class="btn btn-icon btn-sm js-sweetalert" title="delete" data-type="">
                                                        <i class="fa fa-trash-o text-danger"></i></button></td>
                                                <td><i class="fa fa-edit"></i><a th:href="@{'/course/edit/'+${courseplan.id}}">编辑</a></td>
                                            </tr>

                                            <script>
                                                function deleteOne(cpid) {
                                                    if(confirm("是否删除")){
                                                        var url = "/course/deleteOne";
                                                        // var data={'cpid':cpid};

                                                        var datatype={"dataType":"json"}
                                                        $.ajax({
                                                            type:"POST",
                                                            url:url,
                                                            contentType: 'application/json',
                                                            data: JSON.stringify({
                                                                "id":cpid,

                                                            }),
                                                            success:function (data) {

                                                                if(data.code==1){
                                                                    debugger
                                                                    alert("删除成功")

                                                                    window.location.href="/course/list"

                                                                }else {
                                                                    alert("删除失败")
                                                                }
                                                            },
                                                            dataType:"json"
                                                        })

                                                        location.reload();
                                                    }
                                                }
                                            </script>
                                            <tr>

                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="card-footer">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="Courses-add">
                        <form class="card-body" id="courseplanform" action="/course/addCoursePlan" method="post">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">添加开课计划</h3>
                                <div class="card-options ">
                                    <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row clearfix">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <select id="mId" class="form-control input-height" name="courseId">
                                                <option value="">选择课程</option>
                                                <option th:each="course : ${courses}" th:value="${course.id}" th:text="${course.courseName}+'/'+${course.courseNo}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" name="num" class="form-control" placeholder="开课人数 ">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="schoolTime" placeholder="开课时间 例如：19下">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <textarea name="mark" rows="4" class="form-control no-resize" placeholder="备注"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-primary">提交</button>
                                        <button type="submit" class="btn btn-outline-secondary btn-default">取消</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        </form>

                            <div class="card" style="height: 52px;margin-top: 20px;">
                                <div>
                                    <form action="/course/upload" method="post" enctype="multipart/form-data" style="margin-top: 10px;
">
                                        上传开课计划：<input type="file" name="filename"/>
                                        <input type="submit" value="提交上传" class="btn btn-primary"/>
                                    </form>
                                    <button class="btn btn-primary" id="downmodel" onclick="downexcel()">模板下载</button>
                                </div>
                            </div>
                            <script>
                               function downexcel() {
                                   window.open("/excel/courplan.xlsx")
                               }
                            </script>

                        <!-- <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Staff Member Account Info</h3>
                                <div class="card-options ">
                                    <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row clearfix">
                                   <div class="col-sm-12">
                                       <div class="form-group">
                                           <input type="text" class="form-control" placeholder="Email">
                                       </div>
                                   </div>
                                   <div class="col-sm-12">
                                       <div class="form-group">
                                           <input type="text" class="form-control" placeholder="Phone">
                                       </div>
                                   </div>
                                   <div class="col-sm-12">
                                       <button type="submit" class="btn btn-primary">Submit</button>
                                       <button type="submit" class="btn btn-outline-secondary btn-default">Cancel</button>
                                   </div>
                                </div>                        
                            </div>
                        </div> -->
                    </div>
                    <div class="tab-pane" id="Courses-add-Boot">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">添加课程</h3>
                                <div class="card-options ">
                                    <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                                </div>
                            </div>
                            <form id="courseform" class="card-body" action="/course/addCourse" method="post">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">课程名<span class="text-danger">*</span></label>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control" name="courseName">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">课程编号</label>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control" name="courseNo">
                                    </div>
                                </div>
                               
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label"></label>
                                    <div class="col-md-7">
                                        <button type="submit" class="btn btn-primary">提交</button>
                                        <button type="submit" class="btn btn-outline-secondary">取消</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="tab-pane" id="fix-course-datail-div">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">修改课程</h3>
                                <div class="card-options ">
                                    <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                                </div>
                            </div>
                            <form id="updateCourseform" class="card-body" action="/course/updatecourse" method="post">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">课程名<span class="text-danger">*</span></label>
                                    <div class="col-md-7">
                                        <select id="id" class="form-control input-height" name="id">
                                            <option value="">选择课程</option>
                                            <option th:each="course : ${courses}" th:value="${course.id}" th:text="${course.courseName}+'/'+${course.courseNo}"></option>
                                        </select>
                                    </div>
                                </div>
                                <script>
                                    $(document).ready(function () {
                                        $("#mId").change(function () {
                                            var mid= $("#mId").val();
                                            var  url = "/course/detail";
                                            var data={"mid":mid}
                                            $.post(url,data,function (data) {
                                                $("#newcourseNo").val(data.course.courseNo);
                                                $("#newnum").val(data.num);
                                                $("#newschoolTime").val(data.schoolTime);
                                            })
                                        })
                                    })
                                </script>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">新课程名称</label>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control" name="newcourseName" id="newcourseName">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">课程编号</label>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control" name="newcourseNo" id="newcourseNo">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label"></label>
                                    <div class="col-md-7">
                                        <button type="submit" class="btn btn-primary">提交</button>
                                        <button type="submit" class="btn btn-outline-secondary">取消</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- Start assets footer -->
        <div class="section-body">
            <div th:insert="~{university/import :: footer}"></div>
        </div>
    </div>    
</div>

<!-- Start Main project js, jQuery, Bootstrap -->

<!-- Start Plugin Js -->


<!-- Start project assets js  and page js -->
<script src="/univer/validateCourse.js"></script>
<script>
    var vue = new Vue({
        el: '#app',
        data:{
            activeName:'first',//添加/编辑窗口Tab标签名称
            pagination: {//分页相关属性
                currentPage: 1,
                pageSize:10,
                total:100,
                queryString:null,
            },
            dataList: [],//列表数据
            formData: {},//表单数据
            tableData:[],//新增和编辑表单中对应的检查项列表数据
            checkitemIds:[],//新增和编辑表单中检查项对应的复选框，基于双向绑定可以进行回显和数据提交
            checkitemPer:[],//新增和编辑表单中检查项对应的复选框，基于双向绑定可以进行回显和数据提交
            dialogFormVisible: false,//控制添加窗口显示/隐藏
            dialogFormVisible4Edit:false//控制编辑窗口显示/隐藏
        },
        created() {

        },
        methods: {

            //添加
            handleAdd () {

                axios.post("/coursematerial/addCoursePlanAndMaterials?checkitemIds="+
                    this.checkitemIds,this.formData).then((res)=>{
                    this.dialogFormVisible=false;
                if(res.data.code==200){
                    //操作成功
                    this.$message({
                        type:'success',
                        message:res.data.message
                    });
                }else {
                    //操作失败
                    this.$message.error(res.data.message);
                }
            }).finally(()=>{

            })

            },

            // 重置表单
            resetForm() {
                this.formData={};
            },
            // 弹出添加窗口
            handleCreate() {
                this.resetForm();
                this.dialogFormVisible=true;
                this.activeName = 'first';//
                this.checkitemIds=[];
                axios.get("/material/getAllMaterialAPI").then((res)=>{
                    if(res.data.code==200){
                        // alert(res.data.data)
                    this.tableData=res.data.data
                }else{
                    this.$message.error(res.data.message);
                }
            })

            },


            // 删除
            handleDelete(row) {
            }
        }
    })
</script>
</body>
</html>
