<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<html lang="en">
<head  th:fragment="head">
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="/assets/plugins/datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/assets/plugins/datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css">
    <link rel="stylesheet" href="/assets/plugins/datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css">
    <link rel="stylesheet" href="/assets/plugins/dropify/css/dropify.min.css">

    <link rel="stylesheet" href="/assets/plugins/sweetalert/sweetalert.css">
    <link rel="stylesheet" href="/assets/plugins/fullcalendar/fullcalendar.min.css">



    <!-- Plugins css -->
    <link rel="stylesheet" href="/assets/plugins/summernote/dist/summernote.css"/>


    <!-- Core css -->
    <link rel="stylesheet" href="/assets/css/style.min.css"/>

    <!-- Core css -->
    <link rel="stylesheet" href="/assets/css/style.min.css"/>
    <script src="/jquery-1.8.0.min.js"></script>
    <script src="/assets/bundles/lib.vendor.bundle.js"></script>

    <!-- Start Plugin Js -->
    <script src="/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="/assets/bundles/dataTables.bundle.js"></script>
    <script src="/assets/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="/assets/bundles/fullcalendar.bundle.js"></script>

    <!-- Start project assets js  and page js -->
    <script src="/assets/js/core.js"></script>
    <script src="/univer/js/page/dialogs.js"></script>
    <script src="/univer/js/table/datatable.js"></script>
    <script src="/assets/plugins/dropify/js/dropify.min.js"></script>
    <!-- Start Main project js, jQuery, Bootstrap -->

    <!-- Start all plugin js -->
    <script src="/assets/bundles/counterup.bundle.js"></script>
    <script src="/assets/bundles/apexcharts.bundle.js"></script>
    <script src="/assets/bundles/summernote.bundle.js"></script>

    <!-- Start project assets js  and page js -->
    <script src="/univer/js/form/dropify.js"></script>
    <script src="/univer/js/page/index.js"></script>
    <script src="/univer/js/page/summernote.js"></script>
    <script src="/univer/js/page/calendar.js"></script>

    <link href="https://cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
</head>
<body>


<div th:fragment="navigation">
    <div id="left-sidebar" class="sidebar">
        <h5 class="brand-name">实验器材管理系统<a href="javascript:void(0)" class="menu_option float-right"><i class="icon-grid font-16" data-toggle="tooltip" data-placement="left" title="Grid & List Toggle"></i></a></h5>
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#menu-uni">通用</a></li>
            <!--<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#menu-admin">Admin</a></li>-->
        </ul>
        <div class="tab-content mt-3">
            <div class="tab-pane fade show active" id="menu-uni" role="tabpanel">
                <nav class="sidebar-nav">
                    <ul class="metismenu">
                        <li class="active"><a href="/home"><i class="fa fa-dashboard"></i><span>导航</span></a></li>
                        <!--<li><a href="professors.html"><i class="fa fa-black-tie"></i><span>Professors</span></a></li>-->
                        <li><a href="/coursematerial/list"><i class="fa fa-user-circle-o"></i><span>课程器材管理</span></a></li>

                        <li shiro:hasRole="admin"><a  href="/user/list"><i class="fa fa-users"></i><span>用户</span></a></li>
                        <li><a href="departments.html"><i class="fa fa-users"></i><span>库存管理</span></a></li>

                        <li><a href="courses.html"><i class="fa fa-graduation-cap"></i><span>课程管理</span></a></li>
                        <li shiro:hasRole="admin"><a shiro:hasRole="admin" href="/material/list"><i class="fa fa-book"></i><span>器材管理</span></a></li>
                        <li><a href="/calculate/list"><i class="fa fa-bullhorn"></i><span>器材预测</span></a></li>
                        <li class="g_heading">Extra</li>
                        <li><a href="events.html"><i class="fa fa-calendar"></i><span>Calender</span></a></li>
                        <li><a href="app-chat.html"><i class="fa fa-comments-o"></i><span>Chat App</span></a></li>
                        <li><a href="app-contact.html"><i class="fa fa-address-book"></i><span>库存日志</span></a></li>
                        <li><a href="app-filemanager.html"><i class="fa fa-folder"></i><span>FileManager</span></a></li>
                        <li><a href="our-centres.html"><i class="fa fa-map"></i><span>OurCentres</span></a></li>
                        <li><a href="gallery.html"><i class="fa fa-camera-retro"></i><span>Gallery</span></a></li>
                    </ul>
                </nav>
            </div>
            <div class="tab-pane fade" id="menu-admin" role="tabpanel">
                <nav class="sidebar-nav">
                    <ul class="metismenu">
                        <li><a href="payments.html"><i class="fa fa-credit-card"></i><span>Payments</span></a></li>
                        <li><a href="noticeboard.html"><i class="fa fa-dashboard"></i><span>Noticeboard</span></a></li>
                        <li><a href="taskboard.html"><i class="fa fa-list-ul"></i><span>Taskboard</span></a></li>
                        <li><a href="hostel.html"><i class="fa fa-bed"></i><span>Hostel</span></a></li>
                        <li><a href="transport.html"><i class="fa fa-truck"></i><span>Transport</span></a></li>
                        <li><a href="attendance.html"><i class="fa fa-calendar-check-o"></i><span>Attendance</span></a></li>
                        <li><a href="leave.html"><i class="fa fa-flag"></i><span>Leave</span></a></li>
                        <li><a href="setting.html"><i class="fa fa-gear"></i><span>Settings</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div th:fragment="page_top">
    <div class="section-body" id="page_top" >
        <div class="container-fluid">
            <div class="page-header">
                <div class="left">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button">搜索</button>
                        </div>
                    </div>
                </div>
                <div class="right">

                    <div class="notification d-flex">

                        <div class="dropdown d-flex">
                            <a class="nav-link icon d-none d-md-flex btn btn-default btn-icon ml-1" data-toggle="dropdown"><i class="fa fa-envelope"></i><span class="badge badge-success nav-unread"></span></a>
                            <!---->
                        </div>
                        <div class="dropdown d-flex">
                            <a class="nav-link icon d-none d-md-flex btn btn-default btn-icon ml-1" data-toggle="dropdown"><i class="fa fa-bell"></i><span class="badge badge-primary nav-unread"></span></a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <!--<ul class="list-unstyled feeds_widget">-->
                                    <!--<li>-->
                                        <!--<div class="feeds-left">-->
                                            <!--<span class="avatar avatar-blue"><i class="fa fa-check"></i></span>-->
                                        <!--</div>-->
                                        <!--<div class="feeds-body ml-3">-->
                                            <!--<p class="text-muted mb-0">Campaign <strong class="text-blue font-weight-bold">Holiday</strong> is nearly reach budget limit.</p>-->
                                        <!--</div>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<div class="feeds-left">-->
                                            <!--<span class="avatar avatar-green"><i class="fa fa-user"></i></span>-->
                                        <!--</div>-->
                                        <!--<div class="feeds-body ml-3">-->
                                            <!--<p class="text-muted mb-0">New admission <strong class="text-green font-weight-bold">32</strong> in computer department.</p>-->
                                        <!--</div>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<div class="feeds-left">-->
                                            <!--<span class="avatar avatar-red"><i class="fa fa-info"></i></span>-->
                                        <!--</div>-->
                                        <!--<div class="feeds-body ml-3">-->
                                            <!--<p class="text-muted mb-0">6th sem result <strong class="text-red font-weight-bold">67%</strong> in computer department.</p>-->
                                        <!--</div>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<div class="feeds-left">-->
                                            <!--<span class="avatar avatar-azure"><i class="fa fa-thumbs-o-up"></i></span>-->
                                        <!--</div>-->
                                        <!--<div class="feeds-body ml-3">-->
                                            <!--<p class="text-muted mb-0">New Feedback <strong class="text-azure font-weight-bold">53</strong> for university assessment.</p>-->
                                        <!--</div>-->
                                    <!--</li>-->
                                <!--</ul>-->
                                <div class="dropdown-divider"></div>
                                <a href="javascript:void(0)" class="dropdown-item text-center text-muted-dark readall">消息</a>
                            </div>
                        </div>
                        <div class="dropdown d-flex">
                            <a href="javascript:void(0)" class="chip ml-3" data-toggle="dropdown">
                                <span class="avatar" style="background-image: url(/images/default-avatar.png)"></span><span th:text="${session.user}"></span> </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <a class="dropdown-item" href="/user/list"><i class="dropdown-icon fe fe-user"></i> 个人信息</a>
                                <!--<a class="dropdown-item" href="app-setting.html"><i class="dropdown-icon fe fe-settings"></i> Settings</a>-->
                                <!--<a class="dropdown-item" href="app-email.html"><span class="float-right"><span class="badge badge-primary">6</span></span><i class="dropdown-icon fe fe-mail"></i> Inbox</a>-->
                                <!--<a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon fe fe-send"></i> Message</a>-->
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon fe fe-help-circle"></i>需要帮忙？</a>
                                <a class="dropdown-item" href="/logout"><i class="dropdown-icon fe fe-log-out"></i> 退出</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:fragment="header_top">
    <div id="header_top" class="header_top">
        <div class="container">
            <div class="hleft">
                <a class="header-brand" href="index.html"><i class="fa fa-graduation-cap brand-logo"></i></a>
                <div class="dropdown">
                    <a href="javascript:void(0)" class="nav-link icon menu_toggle"><i class="fe fe-align-center"></i></a>
                    <a href="javascript:void(0)" class="nav-link icon"><i class="fe fe-search" data-toggle="tooltip" data-placement="right" title="Search..."></i></a>
                    <a href="javascript:void(0)"  class="nav-link icon app_inbox"><i class="fe fe-inbox" data-toggle="tooltip" data-placement="right" title="Inbox"></i></a>
                    <a href="javascript:void(0)"  class="nav-link icon app_file xs-hide"><i class="fe fe-folder" data-toggle="tooltip" data-placement="right" title="File Manager"></i></a>
                    <a href="javascript:void(0)"  class="nav-link icon xs-hide"><i class="fe fe-share-2" data-toggle="tooltip" data-placement="right" title="Social Media"></i></a>
                    <a href="javascript:void(0)" class="nav-link icon theme_btn"><i class="fe fe-feather"></i></a>
                    <a href="javascript:void(0)" class="nav-link icon settingbar"><i class="fe fe-settings"></i></a>
                </div>
            </div>
            <div class="hright">
                <!--<a href="javascript:void(0)" class="nav-link icon right_tab"><i class="fe fe-align-right"></i></a>-->
                <a href="login.html" class="nav-link icon settingbar"><i class="fe fe-power"></i></a>
            </div>
        </div>
    </div>
</div>
<div th:fragment="footer">
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    Copyright © 2019<a href="https://bkcxq.cn/">cxq</a>.
                </div>

            </div>
        </div>
    </footer>
</div>
</body>
</html>