<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<html lang="en">
<head  th:fragment="head">
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="/assets/plugins/datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/assets/plugins/datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css">
    <link rel="stylesheet" href="/assets/plugins/datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css">
    <link rel="stylesheet" href="/assets/plugins/dropify/css/dropify.min.css">

    <link rel="stylesheet" href="/assets/plugins/sweetalert/sweetalert.css">
    <link rel="stylesheet" href="/assets/plugins/fullcalendar/fullcalendar.min.css">



    <!-- Plugins css -->
    <link rel="stylesheet" href="/assets/plugins/summernote/dist/summernote.css"/>


    <!-- Core css -->
    <link rel="stylesheet" href="/assets/css/style.min.css"/>

    <!-- Core css -->

    <script src="/jquery-1.8.0.min.js"></script>
    <script src="/assets/bundles/lib.vendor.bundle.js"></script>

    <!-- Start Plugin Js -->
    <script src="/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="/assets/bundles/dataTables.bundle.js"></script>
    <script src="/assets/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="/assets/bundles/fullcalendar.bundle.js"></script>
    <script src="/assets/bundles/sweetalert.bundle.js"></script>

    <!-- Start project assets js  and page js -->
    <script src="/assets/js/core.js"></script>
    <script src="/univer/js/page/dialogs.js"></script>
    <script src="/univer/js/table/datatable.js"></script>
    <script src="/assets/plugins/dropify/js/dropify.min.js"></script>
    <!-- Start Main project js, jQuery, Bootstrap -->

    <!-- Start all plugin js -->
    <script src="/assets/bundles/counterup.bundle.js"></script>


    <!-- Start project assets js  and page js -->
    <script src="/univer/js/form/dropify.js"></script>
    <script src="/univer/js/page/index.js"></script>
    <script src="/univer/js/page/summernote.js"></script>
    <script src="/univer/js/page/calendar.js"></script>



    <!-- 引入样式 -->
    <link rel="stylesheet" href="/plugins/elementui/index.css">
    <link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
    <style>
        .el-dropdown-link {
            cursor: pointer;
            color: #409EFF;
        }
        .el-icon-arrow-down {
            font-size: 12px;
        }
    </style>
    <!-- 引入组件库 -->

    <script src="/js/vue.js"></script>
    <script src="/plugins/elementui/index.js"></script>
    <script src="/js/axios-0.18.0.js"></script>
</head>
<body>


<div th:fragment="navigation">
    <div id="left-sidebar" class="sidebar">
        <h5 class="brand-name">实验器材管理系统<a href="javascript:void(0)" class="menu_option float-right"><i class="icon-grid font-16" data-toggle="tooltip" data-placement="left" title="Grid & List Toggle"></i></a></h5>
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#menu-uni">通用</a></li>
            <!--<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#menu-admin">Admin</a></li>-->
        </ul>
        <div class="tab-content mt-3">
            <div class="tab-pane fade show active" id="menu-uni" role="tabpanel">
                <nav class="sidebar-nav">
                    <ul class="metismenu">
                        <li class="active"><a href="/home"><i class="fa fa-dashboard"></i><span>导航</span></a></li>
                        <!--<li><a href="professors.html"><i class="fa fa-black-tie"></i><span>Professors</span></a></li>-->

                        <li shiro:hasRole="admin"><a  href="/user/list"><i class="fa fa-users"></i><span>用户</span></a></li>
                        <li><a href="/storage/list"><i class="fa fa-users"></i><span>库存管理</span></a></li>

                        <li><a href="/course/list"><i class="fa fa-graduation-cap"></i><span>课程管理</span></a></li>
                        <li shiro:hasRole="admin"><a shiro:hasRole="admin" href="/material/list"><i class="fa fa-book"></i><span>器材管理</span></a></li>
                        <li><a href="/coursematerial/list"><i class="fa fa-user-circle-o"></i><span>课程器材管理</span></a></li>

                        <li><a href="/calculate/list" shiro:hasRole="admin"><i class="fa fa-bullhorn"></i><span>器材预测</span></a></li>
                        <li class="g_heading" shiro:hasRole="admin">其他</li>
                        <!--<li><a href="events.html"><i class="fa fa-calendar"></i><span>Calender</span></a></li>-->
                        <!--<li><a href="app-chat.html"><i class="fa fa-comments-o"></i><span>Chat App</span></a></li>-->
                        <li><a href="/storagerecord/list" shiro:hasRole="admin"><i class="fa fa-address-book"></i><span>库存日志</span></a></li>
                        <!--<li><a href="app-filemanager.html"><i class="fa fa-folder"></i><span>FileManager</span></a></li>-->
                        <!--<li><a href="our-centres.html"><i class="fa fa-map"></i><span>OurCentres</span></a></li>-->
                        <!--<li><a href="gallery.html"><i class="fa fa-camera-retro"></i><span>Gallery</span></a></li>-->
                    </ul>
                </nav>
            </div>
            <div class="tab-pane fade" id="menu-admin" role="tabpanel">
                <nav class="sidebar-nav">
                    <ul class="metismenu">
                        <li><a href="payments.html"><i class="fa fa-credit-card"></i><span>Payments</span></a></li>
                        <li><a href="noticeboard.html"><i class="fa fa-dashboard"></i><span>Noticeboard</span></a></li>
                        <li><a href="taskboard.html"><i class="fa fa-list-ul"></i><span>Taskboard</span></a></li>
                        <li><a href="hostel.html"><i class="fa fa-bed"></i><span>Hostel</span></a></li>
                        <li><a href="transport.html"><i class="fa fa-truck"></i><span>Transport</span></a></li>
                        <li><a href="attendance.html"><i class="fa fa-calendar-check-o"></i><span>Attendance</span></a></li>
                        <li><a href="leave.html"><i class="fa fa-flag"></i><span>Leave</span></a></li>
                        <li><a href="setting.html"><i class="fa fa-gear"></i><span>Settings</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div th:fragment="page_top">
    <div class="section-body" id="page_top" >
        <div class="container-fluid">
            <div class="page-header">
                <div class="left">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button">搜索</button>
                        </div>
                    </div>
                </div>
                <div class="right">

                    <div class="notification d-flex">

                        <div class="dropdown d-flex">
                            <a class="nav-link icon d-none d-md-flex btn btn-default btn-icon ml-1" data-toggle="dropdown"><i class="fa fa-envelope"></i><span class="badge badge-success nav-unread"></span></a>
                            <!---->
                        </div>
                        <div class="dropdown d-flex">
                            <a class="nav-link icon d-none d-md-flex btn btn-default btn-icon ml-1" data-toggle="dropdown"><i class="fa fa-bell"></i><span class="badge badge-primary nav-unread"></span></a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <!--<ul class="list-unstyled feeds_widget">-->
                                    <!--<li>-->
                                        <!--<div class="feeds-left">-->
                                            <!--<span class="avatar avatar-blue"><i class="fa fa-check"></i></span>-->
                                        <!--</div>-->
                                        <!--<div class="feeds-body ml-3">-->
                                            <!--<p class="text-muted mb-0">Campaign <strong class="text-blue font-weight-bold">Holiday</strong> is nearly reach budget limit.</p>-->
                                        <!--</div>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<div class="feeds-left">-->
                                            <!--<span class="avatar avatar-green"><i class="fa fa-user"></i></span>-->
                                        <!--</div>-->
                                        <!--<div class="feeds-body ml-3">-->
                                            <!--<p class="text-muted mb-0">New admission <strong class="text-green font-weight-bold">32</strong> in computer department.</p>-->
                                        <!--</div>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<div class="feeds-left">-->
                                            <!--<span class="avatar avatar-red"><i class="fa fa-info"></i></span>-->
                                        <!--</div>-->
                                        <!--<div class="feeds-body ml-3">-->
                                            <!--<p class="text-muted mb-0">6th sem result <strong class="text-red font-weight-bold">67%</strong> in computer department.</p>-->
                                        <!--</div>-->
                                    <!--</li>-->
                                    <!--<li>-->
                                        <!--<div class="feeds-left">-->
                                            <!--<span class="avatar avatar-azure"><i class="fa fa-thumbs-o-up"></i></span>-->
                                        <!--</div>-->
                                        <!--<div class="feeds-body ml-3">-->
                                            <!--<p class="text-muted mb-0">New Feedback <strong class="text-azure font-weight-bold">53</strong> for university assessment.</p>-->
                                        <!--</div>-->
                                    <!--</li>-->
                                <!--</ul>-->
                                <div class="dropdown-divider"></div>
                                <a href="javascript:void(0)" class="dropdown-item text-center text-muted-dark readall">消息</a>
                            </div>
                        </div>
                        <div class="dropdown d-flex">
                            <a href="javascript:void(0)" class="chip ml-3" data-toggle="dropdown">
                                <span class="avatar" style="background-image: url(/images/default-avatar.png)"></span><span th:text="${session.user}"></span> </a>
                            <div id="app1">
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                    <a class="dropdown-item"@click="handleUserInfo()"  ><i class="dropdown-icon fe fe-user"></i> 个人信息</a>
                                    <!--<a class="dropdown-item" href="app-setting.html"><i class="dropdown-icon fe fe-settings"></i> Settings</a>-->
                                    <!--<a class="dropdown-item" href="app-email.html"><span class="float-right"><span class="badge badge-primary">6</span></span><i class="dropdown-icon fe fe-mail"></i> Inbox</a>-->
                                    <!--<a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon fe fe-send"></i> Message</a>-->
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="javascript:void(0)"><i class="dropdown-icon fe fe-help-circle"></i>需要帮忙？</a>
                                    <a class="dropdown-item" href="/logout"><i class="dropdown-icon fe fe-log-out"></i> 退出</a>
                                </div>
                                <!-- 新增标签弹层 -->
                                <div class="add-form">
                                    <el-dialog title="修改个人信息" :visible.sync="dialogFormVisible">
                                        <form id="updateForm" name="updateForm" class="card-body" method="post" action="/user/update">
                                            <div class="form-group row">
                                                <input type="hidden" id="updateId" name="id">
                                                <label  class="col-md-3 col-form-label">用户名 <span class="text-danger">*</span></label>
                                                <div class="col-md-9">
                                                    <input name="username" id="username" type="text" v-model="user.username" class="form-control" placeholder="输入真实姓名">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label">输入新密码<span class="text-danger">*</span></label>
                                                <div class="col-md-9">
                                                    <input v-model="user.password" id="password" name="password" type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label" >手机号码</label>
                                                <div class="col-md-9">
                                                    <input type="text" v-model="user.phone" class="form-control" id="phone" name="phone">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label" style="color: red">设置角色 <span class="text-danger">*</span></label>
                                                <div class="col-md-9">

                                                    <!--<input  name="roles[]" class="form-control input-height" type="checkbox" th:each="role: ${roles}" th:value="${role.id}" th:text="${role.roleName}+' /' +${role.description}">-->
                                                    <!--<select id="selectRole" class="form-control input-height" name="role">-->
                                                        <!--&lt;!&ndash;<option value="">选择角色.</option>&ndash;&gt;-->
                                                        <!--<option th:if="${roles!=null}" th:each="role : ${roles}" th:value="${role.id}" th:text="${role.roleName}+'/'+${role.description}"></option>-->

                                                    <!--</select>-->
                                                    <select class="form-control input-height" name="public-choice" v-model="user.role" >
                                                        <option :value="role.id" v-for="role in roles" >{{role.roleName}}/{{role.description}}</option>
                                                    </select>
                                                </div>

                                            </div>

                                            <!--<div class="form-group row">-->
                                                <!--<label class="col-md-3 col-form-label"></label>-->
                                                <!--<div class="col-md-7">-->
                                                    <!--<button type="submit" id="updateU" class="btn btn-primary">提交</button>-->
                                                    <!--&lt;!&ndash;<button type="submit" class="btn btn-outline-secondary">取消</button>&ndash;&gt;-->
                                                <!--</div>-->
                                            <!--</div>-->

                                        </form>
                                        <!---->
                                        <div slot="footer" class="dialog-footer">
                                            <el-button @click="dialogFormVisible = false">取消</el-button>
                                            <el-button type="primary" @click="handlePersonalInfo()">确定</el-button>
                                        </div>
                                    </el-dialog>
                                </div>
                            </div>
                            <script src="/univer/validateUpdateUser.js"></script>
                            <script>
                                var vue = new Vue({
                                    el: '#app1',
                                    data:{
                                        activeName:'first',//添加/编辑窗口Tab标签名称
                                        pagination: {//分页相关属性
                                            currentPage: 1,
                                            pageSize:10,
                                            total:100,
                                            queryString:null,
                                        },
                                        user:{
                                            username:'',
                                            phone:'',
                                            status:'',
                                            password:'',
                                            role:'',

                                        },


                                        roles:{},
                                        selected:'',
                                        updateUser:{
                                            username:'',
                                            phone:'',
                                            status:'',
                                            password:'',
                                            role:'',
                                        },
                                        dataList: [],//列表数据
                                        formData: {},//表单数据
                                        tableData:[],//新增和编辑表单中对应的检查项列表数据
                                        checkitemIds:[],//新增和编辑表单中检查项对应的复选框，基于双向绑定可以进行回显和数据提交
                                        checkitemPer:[],//新增和编辑表单中检查项对应的复选框，基于双向绑定可以进行回显和数据提交
                                        dialogFormVisible: false,//控制添加窗口显示/隐藏
                                        dialogFormVisible4Edit:false//控制编辑窗口显示/隐藏
                                    },
                                    created() {


                                    },
                                    methods: {

                                        //添加
                                        handlePersonalInfo () {

                                            axios.post("/user/updateProfile",this.user).then((res)=>{
                                                this.dialogFormVisible=false;
                                                if(res.data.code==200){
                                                    //操作成功
                                                    this.$message({
                                                        type:'success',
                                                        message:res.data.message
                                                    });
                                                }else if(res.data.code==401||res.data.code==400){
                                                    //操作失败
                                                    this.$message.error("没有权限");
                                                }
                                            }).finally(()=>{

                                            })

                                        },

                                        // 重置表单
                                        resetForm() {
                                            this.formData={};
                                        },
                                        // 弹出添加窗口
                                        handleUserInfo() {
                                            this.resetForm();
                                            this.dialogFormVisible=true;
                                            this.activeName = 'first';//
                                            this.checkitemIds=[];
                                            axios.get("/user/getUser").then((res)=>{
                                                if(res.data.code==200){
                                                    // alert(res.data.data)
                                                    this.user=res.data.data.user
                                                    this.roles=res.data.data.roles
                                                    this.user.role = res.data.data.myRole.id



                                                }else{
                                                    this.$message.error(res.data.message);
                                                }
                                            })

                                        },


                                        // 删除
                                        handleDelete(row) {
                                        }
                                    }
                                })
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:fragment="header_top">
    <div id="header_top" class="header_top">
        <div class="container">
            <div class="hleft">
                <a class="header-brand" href="/home"><i class="fa fa-graduation-cap brand-logo"></i></a>
                <div class="dropdown">
                    <a href="javascript:void(0)" class="nav-link icon menu_toggle"><i class="fe fe-align-center"></i></a>
                    <a href="javascript:void(0)" class="nav-link icon"><i class="fe fe-search" data-toggle="tooltip" data-placement="right" title="Search..."></i></a>
                    <a href="javascript:void(0)"  class="nav-link icon app_inbox"><i class="fe fe-inbox" data-toggle="tooltip" data-placement="right" title="Inbox"></i></a>
                    <a href="javascript:void(0)"  class="nav-link icon app_file xs-hide"><i class="fe fe-folder" data-toggle="tooltip" data-placement="right" title="File Manager"></i></a>
                    <a href="javascript:void(0)"  class="nav-link icon xs-hide"><i class="fe fe-share-2" data-toggle="tooltip" data-placement="right" title="Social Media"></i></a>
                    <a href="javascript:void(0)" class="nav-link icon theme_btn"><i class="fe fe-feather"></i></a>
                    <a href="javascript:void(0)" class="nav-link icon settingbar"><i class="fe fe-settings"></i></a>
                </div>
            </div>
            <div class="hright">
                <!--<a href="javascript:void(0)" class="nav-link icon right_tab"><i class="fe fe-align-right"></i></a>-->
                <a href="/logout" class="nav-link icon settingbar"><i class="fe fe-power"></i></a>
            </div>
        </div>
    </div>
</div>
<div th:fragment="footer">
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    Copyright © 2021<a href="https://bkcxq.cn/">cxq</a>.
                </div>

            </div>
        </div>
    </footer>
</div>

<div th:fragment="Rightbar">

    <!-- Start Quick menu with more functio -->
    <!--<div class="user_div">-->
        <!--<ul class="nav nav-tabs">-->
            <!--<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#righttab-statistics">Statistics</a></li>-->
            <!--<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#righttab-Result">Result</a></li>-->
            <!--<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#righttab-Students">Student</a></li>-->
            <!--<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#righttab-Todo">Todo</a></li>-->
        <!--</ul>-->
        <!--<div class="tab-content mt-3">-->
            <!--<div class="tab-pane fade show active" id="righttab-statistics" role="tabpanel">-->
                <!--<div class="card">-->
                    <!--<div class="card-body">-->
                        <!--<div>Total Revenue</div>-->
                        <!--<div class="py-3 m-0 text-center h1 text-success">$79,452</div>-->
                        <!--<div class="d-flex">-->
                            <!--<span class="text-muted">Income</span>-->
                            <!--<div class="ml-auto"><i class="fa fa-caret-up text-success"></i>4%</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="card-footer">-->
                        <!--<ul class="list-unstyled mb-0">-->
                            <!--<li class="mb-3">-->
                                <!--<div class="clearfix">-->
                                    <!--<div class="float-left"><strong>$43,320</strong></div>-->
                                    <!--<div class="float-right"><small class="text-muted">Bank of America</small></div>-->
                                <!--</div>-->
                                <!--<div class="progress progress-xxs">-->
                                    <!--<div class="progress-bar bg-azure" role="progressbar" style="width: 87%" aria-valuenow="42" aria-valuemin="0" aria-valuemax="100"></div>-->
                                <!--</div>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<div class="clearfix">-->
                                    <!--<div class="float-left"><strong>$36,132</strong></div>-->
                                    <!--<div class="float-right"><small class="text-muted">Wells Fargo</small></div>-->
                                <!--</div>-->
                                <!--<div class="progress progress-xxs">-->
                                    <!--<div class="progress-bar bg-green" role="progressbar" style="width: 80%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>-->
                                <!--</div>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="card">-->
                    <!--<div class="card-body top_counter">-->
                        <!--<div class="icon bg-yellow"><i class="fa fa-users"></i> </div>-->
                        <!--<div class="content">-->
                            <!--<span>Total Student</span>-->
                            <!--<h5 class="number mb-0">2,051</h5>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="card">-->
                    <!--<div class="card-body top_counter">-->
                        <!--<div class="icon bg-gray"><i class="fa fa-sitemap"></i> </div>-->
                        <!--<div class="content">-->
                            <!--<span>库存</span>-->
                            <!--<h5 class="number mb-0">14</h5>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="card">-->
                    <!--<div class="card-body top_counter">-->
                        <!--<div class="icon bg-dark"><i class="fa fa-black-tie"></i> </div>-->
                        <!--<div class="content">-->
                            <!--<span>Total Teacher</span>-->
                            <!--<h5 class="number mb-0">27</h5>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="card">-->
                    <!--<div class="card-body top_counter">-->
                        <!--<div class="icon bg-azure"><i class="fa fa-tags"></i> </div>-->
                        <!--<div class="content">-->
                            <!--<span>Total Courses</span>-->
                            <!--<h5 class="number mb-0">31</h5>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="card">-->
                    <!--<div class="card-body top_counter">-->
                        <!--<div class="icon bg-pink"><i class="fa fa-credit-card"></i> </div>-->
                        <!--<div class="content">-->
                            <!--<span>Expense</span>-->
                            <!--<h5 class="number mb-0">$7,254</h5>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="card">-->
                    <!--<div class="card-body top_counter">-->
                        <!--<div class="icon bg-green"><i class="fa fa-bank"></i> </div>-->
                        <!--<div class="content">-->
                            <!--<span>Total Income</span>-->
                            <!--<h5 class="number mb-0">$27,852</h5>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="card">-->
                    <!--<div class="card-body top_counter">-->
                        <!--<div class="icon bg-cyan"><i class="fa fa-map-o"></i> </div>-->
                        <!--<div class="content">-->
                            <!--<span>Our Center</span>-->
                            <!--<h5 class="number mb-0">52</h5>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="card">-->
                    <!--<div class="card-body top_counter">-->
                        <!--<div class="icon bg-indigo"><i class="fa fa-smile-o"></i> </div>-->
                        <!--<div class="content">-->
                            <!--<span>Smiley Face</span>-->
                            <!--<h5 class="number mb-0">10K</h5>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="tab-pane fade" id="righttab-Result" role="tabpanel">-->
                <!--<div class="card">-->
                    <!--<div class="card-header">-->
                        <!--<h3 class="card-title">Result 2019</h3>-->
                        <!--<div class="card-options">-->
                            <!--<a href="#"><i class="fa fa-file-excel-o" data-toggle="tooltip" title="Export Excel"></i></a>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="card-body">-->
                        <!--<ul class="list-unstyled">-->
                            <!--<li class="mb-3">-->
                                <!--<div class="clearfix">-->
                                    <!--<div class="float-left"><strong>87%</strong></div>-->
                                    <!--<div class="float-right"><small class="text-muted">Art & Design</small></div>-->
                                <!--</div>-->
                                <!--<div class="progress progress-xxs">-->
                                    <!--<div class="progress-bar bg-azure" role="progressbar" style="width: 87%" aria-valuenow="42" aria-valuemin="0" aria-valuemax="100"></div>-->
                                <!--</div>-->
                            <!--</li>-->
                            <!--<li class="mb-3">-->
                                <!--<div class="clearfix">-->
                                    <!--<div class="float-left"><strong>80%</strong></div>-->
                                    <!--<div class="float-right"><small class="text-muted">Fashion</small></div>-->
                                <!--</div>-->
                                <!--<div class="progress progress-xxs">-->
                                    <!--<div class="progress-bar bg-green" role="progressbar" style="width: 80%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>-->
                                <!--</div>-->
                            <!--</li>-->
                            <!--<li class="mb-3">-->
                                <!--<div class="clearfix">-->
                                    <!--<div class="float-left"><strong>63%</strong></div>-->
                                    <!--<div class="float-right"><small class="text-muted">Sports Science</small></div>-->
                                <!--</div>-->
                                <!--<div class="progress progress-xxs">-->
                                    <!--<div class="progress-bar bg-orange" role="progressbar" style="width: 63%" aria-valuenow="36" aria-valuemin="0" aria-valuemax="100"></div>-->
                                <!--</div>-->
                            <!--</li>-->
                            <!--<li class="mb-3">-->
                                <!--<div class="clearfix">-->
                                    <!--<div class="float-left"><strong>91%</strong></div>-->
                                    <!--<div class="float-right"><small class="text-muted">Computers</small></div>-->
                                <!--</div>-->
                                <!--<div class="progress progress-xxs">-->
                                    <!--<div class="progress-bar bg-indigo" role="progressbar" style="width: 91%" aria-valuenow="6" aria-valuemin="0" aria-valuemax="100"></div>-->
                                <!--</div>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<div class="clearfix">-->
                                    <!--<div class="float-left"><strong>35%</strong></div>-->
                                    <!--<div class="float-right"><small class="text-muted">Biological Sciences</small></div>-->
                                <!--</div>-->
                                <!--<div class="progress progress-xxs">-->
                                    <!--<div class="progress-bar bg-pink" role="progressbar" style="width: 35%" aria-valuenow="6" aria-valuemin="0" aria-valuemax="100"></div>-->
                                <!--</div>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <!--<div class="card-footer">-->
                        <!--<div class="row text-center">-->
                            <!--<div class="col-6 border-right">-->
                                <!--<label class="mb-0">Total Pass</label>-->
                                <!--<div class="font-20 font-weight-bold">1,052</div>-->
                            <!--</div>-->
                            <!--<div class="col-6">-->
                                <!--<label class="mb-0">Total Fail</label>-->
                                <!--<div class="font-20 font-weight-bold">198</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="card">-->
                    <!--<div class="card-header">-->
                        <!--<h3 class="card-title">Result 2018</h3>-->
                        <!--<div class="card-options">-->
                            <!--<a href="#"><i class="fa fa-file-excel-o" data-toggle="tooltip" title="Export Excel"></i></a>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="card-body">-->
                        <!--<ul class="list-unstyled">-->
                            <!--<li class="mb-3">-->
                                <!--<div class="clearfix">-->
                                    <!--<div class="float-left"><strong>80%</strong></div>-->
                                    <!--<div class="float-right"><small class="text-muted">Fashion</small></div>-->
                                <!--</div>-->
                                <!--<div class="progress progress-xxs">-->
                                    <!--<div class="progress-bar bg-green" role="progressbar" style="width: 80%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>-->
                                <!--</div>-->
                            <!--</li>-->
                            <!--<li class="mb-3">-->
                                <!--<div class="clearfix">-->
                                    <!--<div class="float-left"><strong>87%</strong></div>-->
                                    <!--<div class="float-right"><small class="text-muted">Art & Design</small></div>-->
                                <!--</div>-->
                                <!--<div class="progress progress-xxs">-->
                                    <!--<div class="progress-bar bg-azure" role="progressbar" style="width: 87%" aria-valuenow="42" aria-valuemin="0" aria-valuemax="100"></div>-->
                                <!--</div>-->
                            <!--</li>-->
                            <!--<li class="mb-3">-->
                                <!--<div class="clearfix">-->
                                    <!--<div class="float-left"><strong>91%</strong></div>-->
                                    <!--<div class="float-right"><small class="text-muted">Computers</small></div>-->
                                <!--</div>-->
                                <!--<div class="progress progress-xxs">-->
                                    <!--<div class="progress-bar bg-indigo" role="progressbar" style="width: 91%" aria-valuenow="6" aria-valuemin="0" aria-valuemax="100"></div>-->
                                <!--</div>-->
                            <!--</li>-->
                            <!--<li class="mb-3">-->
                                <!--<div class="clearfix">-->
                                    <!--<div class="float-left"><strong>35%</strong></div>-->
                                    <!--<div class="float-right"><small class="text-muted">Biological Sciences</small></div>-->
                                <!--</div>-->
                                <!--<div class="progress progress-xxs">-->
                                    <!--<div class="progress-bar bg-pink" role="progressbar" style="width: 35%" aria-valuenow="6" aria-valuemin="0" aria-valuemax="100"></div>-->
                                <!--</div>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<div class="clearfix">-->
                                    <!--<div class="float-left"><strong>63%</strong></div>-->
                                    <!--<div class="float-right"><small class="text-muted">Sports Science</small></div>-->
                                <!--</div>-->
                                <!--<div class="progress progress-xxs">-->
                                    <!--<div class="progress-bar bg-orange" role="progressbar" style="width: 63%" aria-valuenow="36" aria-valuemin="0" aria-valuemax="100"></div>-->
                                <!--</div>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <!--<div class="card-footer">-->
                        <!--<div class="row text-center">-->
                            <!--<div class="col-6 border-right">-->
                                <!--<label class="mb-0">Total Pass</label>-->
                                <!--<div class="font-20 font-weight-bold">845</div>-->
                            <!--</div>-->
                            <!--<div class="col-6">-->
                                <!--<label class="mb-0">Total Fail</label>-->
                                <!--<div class="font-20 font-weight-bold">142</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="tab-pane fade" id="righttab-Students" role="tabpanel">-->
                <!--<div id="users">-->
                    <!--<div class="input-group mt-2 mb-2">-->
                        <!--<input type="text" class="form-control search" placeholder="Search Student">-->
                    <!--</div>-->
                    <!--<ul class="right_chat list-unstyled list">-->
                        <!--<li class="alfabet">A</li>-->
                        <!--<li>-->
                            <!--<a href="javascript:void(0);" class="media">-->
                                <!--<img class="media-object" src="../assets/images/xs/avatar1.jpg" alt="">-->
                                <!--<div class="media-body">-->
                                    <!--<span class="name">Abigail Churchill</span>-->
                                    <!--<span class="message">Art & Design</span>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="javascript:void(0);" class="media">-->
                                <!--<img class="media-object" src="../assets/images/xs/avatar2.jpg" alt="">-->
                                <!--<div class="media-body">-->
                                    <!--<span class="name">Alexandra Carr</span>-->
                                    <!--<span class="message">Fashion</span>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="javascript:void(0);" class="media">-->
                                <!--<img class="media-object" src="../assets/images/xs/avatar3.jpg" alt="">-->
                                <!--<div class="media-body">-->
                                    <!--<span class="name">Alison Berry</span>-->
                                    <!--<span class="message">Fashion</span>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="alfabet">B</li>-->
                        <!--<li>-->
                            <!--<a href="javascript:void(0);" class="media">-->
                                <!--<img class="media-object" src="../assets/images/xs/avatar4.jpg" alt="">-->
                                <!--<div class="media-body">-->
                                    <!--<span class="name">Bella Alan</span>-->
                                    <!--<span class="message">Sports Science</span>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="alfabet">C</li>-->
                        <!--<li>-->
                            <!--<a href="javascript:void(0);" class="media">-->
                                <!--<img class="media-object" src="../assets/images/xs/avatar5.jpg" alt="">-->
                                <!--<div class="media-body">-->
                                    <!--<span class="name">Caroline Alan</span>-->
                                    <!--<span class="message">Sports Science</span>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="javascript:void(0);" class="media">-->
                                <!--<img class="media-object" src="../assets/images/xs/avatar6.jpg" alt="">-->
                                <!--<div class="media-body">-->
                                    <!--<span class="name">Connor Campbell</span>-->
                                    <!--<span class="message">Computers</span>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="javascript:void(0);" class="media">-->
                                <!--<img class="media-object" src="../assets/images/xs/avatar7.jpg" alt="">-->
                                <!--<div class="media-body">-->
                                    <!--<span class="name">Charles Campbell</span>-->
                                    <!--<span class="message">Computers</span>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="alfabet">D</li>-->
                        <!--<li>-->
                            <!--<a href="javascript:void(0);" class="media">-->
                                <!--<img class="media-object" src="../assets/images/xs/avatar8.jpg" alt="">-->
                                <!--<div class="media-body">-->
                                    <!--<span class="name">Donna Hudson</span>-->
                                    <!--<span class="message">Computers</span>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="javascript:void(0);" class="media">-->
                                <!--<img class="media-object" src="../assets/images/xs/avatar9.jpg" alt="">-->
                                <!--<div class="media-body">-->
                                    <!--<span class="name">Dylan Jones</span>-->
                                    <!--<span class="message">Computers</span>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="alfabet">G</li>-->
                        <!--<li>-->
                            <!--<a href="javascript:void(0);" class="media">-->
                                <!--<img class="media-object" src="../assets/images/xs/avatar8.jpg" alt="">-->
                                <!--<div class="media-body">-->
                                    <!--<span class="name">Gordon Hudson</span>-->
                                    <!--<span class="message">Sports Science</span>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="javascript:void(0);" class="media">-->
                                <!--<img class="media-object" src="../assets/images/xs/avatar9.jpg" alt="">-->
                                <!--<div class="media-body">-->
                                    <!--<span class="name">Gabrielle Walker</span>-->
                                    <!--<span class="message">Computers</span>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="javascript:void(0);" class="media">-->
                                <!--<img class="media-object" src="../assets/images/xs/avatar10.jpg" alt="">-->
                                <!--<div class="media-body">-->
                                    <!--<span class="name">Gavin North</span>-->
                                    <!--<span class="message">Computers</span>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="alfabet">S</li>-->
                        <!--<li>-->
                            <!--<a href="javascript:void(0);" class="media">-->
                                <!--<img class="media-object" src="../assets/images/xs/avatar1.jpg" alt="">-->
                                <!--<div class="media-body">-->
                                    <!--<span class="name">Stephanie Hudson</span>-->
                                    <!--<span class="message">Sports Science</span>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="alfabet">W</li>-->
                        <!--<li>-->
                            <!--<a href="javascript:void(0);" class="media">-->
                                <!--<img class="media-object" src="../assets/images/xs/avatar1.jpg" alt="">-->
                                <!--<div class="media-body">-->
                                    <!--<span class="name">William Paige</span>-->
                                    <!--<span class="message">Fashion</span>-->
                                <!--</div>-->
                            <!--</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
                <!--<div class="user_chatbody chat_app">-->
                    <!--<div class="card-header bline pt-1 pl-0 pr-0">-->
                        <!--<h3 class="card-title">Abigail Churchill <small>Online</small></h3>-->
                        <!--<div class="card-options">-->
                            <!--<a href="javascript:void(0)" class="p-1" data-toggle="dropdown"><i class="fa fa-cog"></i></a>-->
                            <!--<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">-->
                                <!--<a class="dropdown-item active" href="#">Online</a>-->
                                <!--<a class="dropdown-item" href="#">Away</a>-->
                                <!--<a class="dropdown-item" href="#">Do not disturb</a>-->
                                <!--<a class="dropdown-item" href="#">Invisible</a>-->
                            <!--</div>-->
                            <!--<a href="javascript:void(0)" class="p-1 chat_close"><i class="fa fa-close"></i></a>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="chat_windows">-->
                        <!--<ul class="mb-0">-->
                            <!--<li class="other-message">-->
                                <!--<img class="avatar mr-3" src="../assets/images/xs/avatar1.jpg" alt="avatar">-->
                                <!--<div class="message">-->
                                    <!--<p class="bg-light-blue">Are we meeting today?</p>-->
                                    <!--<span class="time">10:10 AM, Today</span>-->
                                <!--</div>-->
                            <!--</li>-->
                            <!--<li class="other-message">-->
                                <!--<img class="avatar mr-3" src="../assets/images/xs/avatar1.jpg" alt="avatar">-->
                                <!--<div class="message">-->
                                    <!--<p class="bg-light-blue">Hi Aiden, how are you? How is the project coming along?</p>-->
                                    <!--<p class="bg-light-blue">Are we meeting today?</p>-->
                                    <!--<span class="time">10:15 AM, Today</span>-->
                                <!--</div>-->
                            <!--</li>-->
                            <!--<li class="my-message">-->
                                <!--<div class="message">-->
                                    <!--<p class="bg-light-gray">Project has been already finished and I have results to show you.</p>-->
                                    <!--<div class="file_folder">-->
                                        <!--<a href="javascript:void(0);">-->
                                            <!--<div class="icon">-->
                                                <!--<i class="fa fa-file-excel-o text-success"></i>-->
                                            <!--</div>-->
                                            <!--<div class="file-name">-->
                                                <!--<p class="mb-0 text-muted">Report2017.xls</p>-->
                                                <!--<small>Size: 68KB</small>-->
                                            <!--</div>-->
                                        <!--</a>-->
                                    <!--</div>-->
                                    <!--<span class="time">10:17 AM, Today</span>-->
                                <!--</div>-->
                            <!--</li>-->
                            <!--<li class="other-message">-->
                                <!--<img class="avatar mr-3" src="../assets/images/xs/avatar1.jpg" alt="avatar">-->
                                <!--<div class="message">-->
                                    <!--<div class="media_img">-->
                                        <!--<img src="../assets/images/gallery/1.jpg" class="w100 img-thumbnail" alt="">-->
                                        <!--<img src="../assets/images/gallery/2.jpg" class="w100 img-thumbnail" alt="">-->
                                    <!--</div>-->
                                    <!--<span class="time">10:15 AM, Today</span>-->
                                <!--</div>-->
                            <!--</li>-->
                            <!--<li class="other-message">-->
                                <!--<img class="avatar mr-3" src="../assets/images/xs/avatar1.jpg" alt="avatar">-->
                                <!--<div class="message">-->
                                    <!--<p class="bg-light-blue">Are we meeting today I have results?</p>-->
                                    <!--<span class="time">10:18 AM, Today</span>-->
                                <!--</div>-->
                            <!--</li>-->
                            <!--<li class="my-message">-->
                                <!--<div class="message">-->
                                    <!--<p class="bg-light-gray">Well we have good budget for the project</p>-->
                                    <!--<span class="time">10:25 AM, Today</span>-->
                                <!--</div>-->
                            <!--</li>-->
                        <!--</ul>-->
                        <!--<div class="chat-message clearfix">-->
                            <!--<a href="javascript:void(0);"><i class="icon-camera"></i></a>-->
                            <!--<a href="javascript:void(0);"><i class="icon-camcorder"></i></a>-->
                            <!--<a href="javascript:void(0);"><i class="icon-paper-plane"></i></a>-->
                            <!--<div class="input-group mb-0">-->
                                <!--<input type="text" class="form-control" placeholder="Enter text here...">-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="tab-pane fade" id="righttab-Todo" role="tabpanel">-->
                <!--<ul class="list-unstyled mb-0 todo_list">-->
                    <!--<li>-->
                        <!--<label class="custom-control custom-checkbox">-->
                            <!--<input type="checkbox" class="custom-control-input" name="example-checkbox1" value="option1" checked="">-->
                            <!--<span class="custom-control-label">Report Panel Usag</span>-->
                        <!--</label>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<label class="custom-control custom-checkbox">-->
                            <!--<input type="checkbox" class="custom-control-input" name="example-checkbox1" value="option1">-->
                            <!--<span class="custom-control-label">Report Panel Usag</span>-->
                        <!--</label>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<label class="custom-control custom-checkbox">-->
                            <!--<input type="checkbox" class="custom-control-input" name="example-checkbox1" value="option1" checked="">-->
                            <!--<span class="custom-control-label">New logo design for Angular Admin</span>-->
                        <!--</label>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<label class="custom-control custom-checkbox">-->
                            <!--<input type="checkbox" class="custom-control-input" name="example-checkbox1" value="option1">-->
                            <!--<span class="custom-control-label">Design PSD files for Angular Admin</span>-->
                        <!--</label>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<label class="custom-control custom-checkbox">-->
                            <!--<input type="checkbox" class="custom-control-input" name="example-checkbox1" value="option1" checked="">-->
                            <!--<span class="custom-control-label">New logo design for Angular Admin</span>-->
                        <!--</label>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>

</body>

</html>