<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en" dir="ltr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="icon" href="favicon.ico" type="image/x-icon"/>
<title>:: 实验器材管理 :: 器材管理</title>

<!-- Bootstrap Core and vandor -->
<head th:insert="~{university/import :: head}">
</head>
<body class="font-muli theme-cyan gradient">

<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
    </div>
</div>

<div id="main_content">
    <!-- Start Main top header -->
    <div th:insert="~{university/import :: header_top}"></div>
    <!-- Start Rightbar setting panel -->
    <div th:insert="~{university/import :: Rightbar}"></div>
    <!-- Start Main leftbar navigation -->
    <div th:insert="~{university/import :: navigation}"></div>
    <!-- Start project content area -->
    <div class="page">
        <!-- Start Page header -->
        <div th:insert="~{university/import :: page_top}"></div>

        <!-- Start Page title and tab -->
        <div class="section-body">
            <div class="container-fluid">
                <div class="d-flex justify-content-between align-items-center ">
                    <div class="header-action">
                        <h1 class="page-title">器材管理</h1>
                        <ol class="breadcrumb page-breadcrumb">
                            <li class="breadcrumb-item"><a href="#">实验器材管理</a></li>
                            <li class="breadcrumb-item active" aria-current="page">器材管理</li>
                        </ol>
                    </div>
                    <ul class="nav nav-tabs page-header-tab">
                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#Library-all">器材列表</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Library-add">添加器材</a></li>
                        <li class="nav-item"><a class="nav-link" id="Library-tab-Boot" data-toggle="tab" href="#Library-add-Boot">修改器材信息</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section-body mt-4">
            <div class="container-fluid">
                <div class="tab-content">
                    <div class="tab-pane active" id="Library-all">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover js-basic-example dataTable table-striped table_custom border-style spacing5">

                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>名称</th>
                                                <th>规格</th>
                                                <th>单价</th>
                                                <th>损耗率</th>
                                                <th>备注</th>
                                                <td>action</td>
                                            </tr>
                                        </thead>
                                        <tbody th:if="${materials !=null}">
                                            <tr th:each="material,mStatus :${materials}">
                                                <td th:text="${mStatus.count}"></td>
                                                <td th:text="${material.name}"></td>
                                                <td th:text="${material.specification}"></td>
                                                <td th:text="${material.price}"></td>
                                                <td th:text="${material.rate}"></td>
                                                <td th:text="${material.remark}"></td>

                                                <td><button id="delete" th:onclick="'javascript:deleteOne(\''+${material.id}+'\')'" type="button" class="btn btn-icon btn-sm js-sweetalert" title="Delete" data-type=""><i class="fa fa-trash-o text-danger"></i></button></td>
                                            </tr>
                                            <div><a href="/material/download">导出Excel</a>
                                            </div>



                                            <script>
                                                function deleteOne(id) {
                                                    if(confirm("是否删除")){
                                                        var url = "/material/deleteOne";
                                                        // var data={'id':id};
                                                        var datatype={"dataType":"json"}
                                                        $.ajax({
                                                            type:"POST",
                                                            url:url,
                                                            contentType: 'application/json',
                                                            data: JSON.stringify({
                                                                "id":id,

                                                            }),
                                                            success:function (data) {

                                                                if(data.code==1){
                                                                    alert("删除成功")
                                                                }else {
                                                                    alert("删除失败")
                                                                }
                                                            },
                                                            dataType:"json"
                                                        })
                                                        window.location.href="/material/list"
                                                    }
                                                }
                                            </script>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="tab-pane" id="Library-add">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">添加器材信息</h3>
                                <div class="card-options ">
                                    <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                                </div>
                            </div>
                             <form id="addForm" class="card-body materialform" method="post" action="/material/add">
                                <div class="form-group row">
                                    <!--<font color="red" th:errors="${material.name}"></font>-->
                                    <label class="col-md-3 col-form-label">器材名称</label>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control" name="name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <!--<font color="red" th:errors="${material.specification}"></font>-->
                                    <label class="col-md-3 col-form-label">器材规格</label>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control" name="specification">
                                    </div>
                                </div>
                                 <div class="form-group row">
                                     <!--<font color="red" th:errors="${material.price}"></font>-->
                                     <label class="col-md-3 col-form-label">器材单价<span class="text-danger">*</span></label>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control" name="price">
                                    </div>
                                </div>
                                 <div class="form-group row">
                                     <!--<font color="red" th:errors="${material.rate}"></font>-->
                                     <label class="col-md-3 col-form-label">损耗率<span class="text-danger">*</span></label>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control" name="rate">
                                    </div>
                                </div>
                                 <div class="form-group row">
                                     <!--<font color="red" th:errors="${material.remark}"></font>-->
                                     <label class="col-md-3 col-form-label">备注<span class="text-danger">*</span></label>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control" name="remark">
                                    </div>
                                </div>
                               
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label"></label>
                                    <div class="col-md-7">
                                        <button type="submit" class="btn btn-primary">提交</button>
                                        <button type="submit" class="btn btn-outline-secondary">取消</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div class="card">
                            <div>
                                <form action="/material/upload" method="post" enctype="multipart/form-data" >
                                    上传器材信息：<input type="file" name="filename"/>
                                    <input type="submit" value="提交上传" class="btn btn-primary" />
                                </form>
                                <button onclick="downexcel()"></button>
                            </div>
                        </div>
                        <script>
                            function downexcel() {
                                window.open("/excel/material.xlsx")

                            }
                        </script>
                    </div>
                    <div class="tab-pane" id="Library-add-Boot">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">修改器材详情</h3>
                                <div class="card-options ">
                                    <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                    <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                                </div>
                            </div>
                             <form  class="card-body materialform" method="post" action="/material/update">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">器材名称<span class="text-danger">*</span></label>
                                    <div class="col-md-7">
                                        <select id="mId" class="form-control input-height" name="sub">
                                            <option value="">选择器材.</option>
                                            <option th:if="${materials!=null}" th:each="material : ${materials}" th:value="${material.id}" th:text="${material.name}+'/'+${material.specification}"></option>

                                        </select>
                                    </div>
                                </div>
                                 <script>
                                    $(document).ready(function () {
                                        $("#mId").change(function () {
                                            var mid= $("#mId").val();
                                            var  url = "/material/detail";
                                            var data={"mid":mid}
                                            $.post(url,data,function (data) {
                                                $("#newspecification").val(data.specification);
                                                $("#newprice").val(data.price);
                                                $("#newrate").val(data.rate);
                                                $("#newremark").val(data.remark)
                                                $("#newid").val(mid)
                                            })
                                        })
                                    })
                                 </script>

                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">器材规格</label>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control" id="newspecification" name="newspecification">
                                        <input type="hidden" id="newid" name="newid">
                                    </div>
                                </div>
                                 <div class="form-group row">
                                    <label class="col-md-3 col-form-label">器材单价<span class="text-danger">*</span></label>
                                    <div class="col-md-7">
                                        <input type="text" id="newprice" name="newprice" class="form-control">
                                    </div>
                                </div>
                                 <div class="form-group row">
                                    <label class="col-md-3 col-form-label">损耗率<span class="text-danger">*</span></label>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control" id="newrate" name="newrate">
                                    </div>
                                </div>
                                 <div class="form-group row">
                                    <label class="col-md-3 col-form-label">备注<span class="text-danger">*</span></label>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control" name="newremark" id="newremark">
                                    </div>
                                </div>
                               
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label"></label>
                                    <div class="col-md-7">
                                        <button type="submit" name="renew" class="btn btn-primary">提交</button>
                                        <button type="submit" class="btn btn-outline-secondary">取消</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start assets footer -->
        <div class="section-body">
            <div th:insert="~{university/import :: footer}"></div>
        </div>
    </div>    
</div>

<!-- Start Main project js, jQuery, Bootstrap -->
<script src="/univer/validateMaterial.js"></script>

</body>
</html>
