<!doctype html>
<html lang="en" dir="ltr">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <title>:: 实验器材管理 :: 添加课程所需器材明细
    </title>

    <!-- Core css -->
</head>
<head th:insert="~{university/import :: head}">
</head>

<body class="font-muli theme-cyan gradient">

<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
    </div>
</div>

<div id="main_content">
    <!-- Start Main top header -->
    <div th:insert="~{university/import :: header_top}"></div>
    <!-- Start Rightbar setting panel -->
    <div th:insert="~{university/import :: Rightbar}"></div>
    <!-- Start Main leftbar navigation -->
    <div th:insert="~{university/import :: navigation}"></div>

    <!-- Start project content area -->
    <div class="page">
        <!-- Start Page header -->

        <!-- Start Page title and tab -->
        <div th:insert="~{university/import :: page_top}"></div>
        <div class="section-body">
            <div class="container-fluid">
                <div class="d-flex justify-content-between align-items-center ">
                    <div class="header-action">
                        <h1 class="page-title">课程器材管理</h1>
                        <ol class="breadcrumb page-breadcrumb">
                            <li class="breadcrumb-item"><a href="#">详细列表</a></li>
                            <li class="breadcrumb-item active" aria-current="page">添加详细列表</li>
                        </ol>
                    </div>
                    <ul class="nav nav-tabs page-header-tab">
                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#Student-all">所需器材详细列</a></li>
                        <!--<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Student-profile">修改具体详情</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Student-add">添加</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
        <div class="section-body mt-4">
            <div class="container-fluid">
                <div class="tab-content">
                    <div class="tab-pane active" id="Student-all">
                        <div class="card">
                            <div class="card-body">
                                <a href="/coursematerial/exportExcel" class="btn btn-primary">导出Excel</a>
                                <div>
                                    <form action="/course/upload" method="post" enctype="multipart/form-data" style="margin-top: 10px;
">                                      <label>
                                        课程:
                                        <select id="courrseid" class="form-control input-height" name="course">
                                            <option value="">选择课程.</option>
                                            <option th:if="courses!=null" th:each="course :${courses}" th:value="${course.id}" th:text="${course.courseName}+'/'+${course.courseNo}"></option>
                                        </select>
                                    </label>
                                        课程所需器材明细：<input type="file" name="filename"/>
                                        <input type="submit" value="提交上传" class="btn btn-primary"/>
                                    </form>
                                    <button class="btn btn-primary" id="downmodel" onclick="downexcel()">模板下载</button>
                                </div>
                            </div>
                        </div>

                        <div class="card" style="height: 52px;margin-top: 20px;">

                        </div>
                        <script>
                            function downexcel() {
                                window.open("/excel/courplan.xlsx")
                            }
                        </script>
                        <div class="table-responsive card">
                            <div id="app">

                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">添加课程所需器材明细</h3>
                                    </div>
                                    <form action="" method="post">
                                    <div class="panel-body form-inline" style="margin-bottom: 30px;margin-top: 30px;                               ">
                                            <label>
                                                课程:
                                                <select id="cid" class="form-control input-height" name="course">
                                                    <option value="">选择课程.</option>
                                                    <option th:if="courses!=null" th:each="course :${courses}" th:value="${course.id}" th:text="${course.courseName}+'/'+${course.courseNo}"></option>
                                                </select>
                                            </label>
                                            <label>
                                                器材: <select id="mid" class="form-control input-height" name="material">
                                                <option value="">选择器材.</option>
                                                <option th:if="materials!=null" th:each="material :${materials}" th:value="${material.id}" th:text="${material.name}+'/'+${material.specification}"></option>
                                            </select>
                                            </label>
                                            <label>
                                                每人所需量:<input id="per" type="text" class="form-control" name="per">
                                            </label>

                                            <input id="add" type="button" value="添加" name="add" class="btn btn-primary">
                                        </div>
                                        </form>
                                        <script>
                                            $(document).ready(function () {
                                                $("#add").click(function () {
                                                    var url = "/coursematerial/add"
                                                    var cid = $("#cid").val()
                                                    var mid = $("#mid").val()
                                                    var per = $("#per").val()
                                                    // var needTime = $("#needTime").val()
                                                    $.ajax({
                                                        type:"POST",
                                                        url:url,
                                                        contentType: 'application/json',
                                                        data:JSON.stringify({
                                                            "cid":cid,
                                                            "mid":mid,
                                                            "per":per,
                                                            // "needTime":needTime
                                                        }),
                                                        success:function (data) {
                                                            if(data.code==1){
                                                                alert("ok")
                                                                /*var str="";
                                                                str+="<tr >\n" +
                                                                    "                                        <th th:></th>\n" +
                                                                    "                                        <th ></th>\n" +
                                                                    "                                        <th>{{ detail.per}}</th>\n" +
                                                                    "                                        <td>{{ detail.needtime }}</td>\n" +
                                                                    "                                        <td>\n" +
                                                                    "                                            <a href=\"\" >删除</a>\n" +
                                                                    "                                        </td>\n" +
                                                                    "                                    </tr>"
                                                                var tbody=window.document.getElementById("tbody-result");
                                                                tbody.innerHTML=str;*/
                                                                window.location.href="/coursematerial/list"

                                                            }else{
                                                                alert("error")

                                                            }
                                                        }
                                                    })
                                                })
                                            })

                                        </script>


                                </div>

                                <table class="table table-hover js-basic-example dataTable table-striped table_custom border-style spacing5">
                                    <thead>
                                    <!--th:each="suser :${sUsers}-->
                                    <tr >
                                        <th>课程</th>
                                        <th>器材</th>
                                        <th>每人所需量</th>
                                        <td>操作</td>
                                    </tr>
                                    </thead>
                                    <tbody id="tbody-result">
                                    <tr th:if="details!=null" th:each="d: ${details}">
                                        <th th:text="${d.courseName}+'/'+${d.courseNo}">{{ detail.courseName}}</th>
                                        <th th:text="${d.materialName}+'/'+${d.specification}"></th>
                                        <th th:text="${d.per}"></th>

                                        <td>
                                        <button id="delete" th:onclick="'javascript:deleteOne(\''+${d.id}+'\')'" type="button" class="btn btn-icon btn-sm js-sweetalert" title="Delete" data-type=""><i class="fa fa-trash-o text-danger"></i></button>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                                <script>
                                function deleteOne(id) {
                                    if(confirm("是否删除")){
                                        var url = "/coursematerial/deleteOne";
                                        // var data={'id':id};
                                        var datatype={"dataType":"json"}
                                        $.ajax({
                                            type:"POST",
                                            url:url,
                                            contentType: 'application/json',
                                            data: JSON.stringify({
                                                "id":id,

                                            }),
                                            success:function (data) {

                                                if(data.code==1){
                                                    alert("删除成功")
                                                }else {
                                                    alert("删除失败")
                                                }
                                            },
                                            dataType:"json"
                                        })
                                        window.location.href="/coursematerial/list"
                                    }
                                }

                            </script>
                        </div>
                    </div>
                    <!--<div class="tab-pane" id="Student-profile">
                        <div class="row">
                            <div class="col-xl-12 col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">修改</h3>
                                        <div class="card-options ">
                                            <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                            <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                                        </div>
                                    </div>
                                    <form class="card-body">

                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label">选择 <span class="text-danger">*</span></label>
                                            <div class="col-md-7">

                                                <select id="selectDetail" class="form-control input-height" name="sub">
                                                    <option value="">请选择.</option>
                                                    &lt;!&ndash;<option th:if="sUsers!=null" th:each="suser :${sUsers}" th:value="${suser.id}" th:text="${suser.username}"></option>&ndash;&gt;
                                                </select>

                                                &lt;!&ndash;<select id="mid" class="form-control input-height" name="material">&ndash;&gt;
                                                    &lt;!&ndash;<option value="">选择器材.</option>&ndash;&gt;
                                                    &lt;!&ndash;<option th:if="materials!=null" th:each="material :${materials}" th:value="${material.id}" th:text="${material.name}+'/'+${material.specification}"></option>&ndash;&gt;
                                                &lt;!&ndash;</select>&ndash;&gt;
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label"></label>
                                            <div class="col-md-7">
                                                &lt;!&ndash;<button type="submit" id="subtn" class="btn btn-primary">确定</button>&ndash;&gt;
                                                &lt;!&ndash;<button type="submit" class="btn btn-outline-secondary">取消</button>&ndash;&gt;
                                            </div>
                                        </div>

                                    </form>

                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">个人信息</h3>
                                        <div class="card-options ">
                                            <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
                                            <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
                                        </div>
                                        <form class="card-body" method="post" action="/user/update">
                                            <div class="form-group row">
                                                <input type="hidden" id="updateId" name="id">
                                                <label class="col-md-3 col-form-label">用户名 <span class="text-danger">*</span></label>
                                                <div class="col-md-9">
                                                    <input name="username" id="username" type="text" class="form-control" placeholder="输入真实姓名">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label">密码<span class="text-danger">*</span></label>
                                                <div class="col-md-9">
                                                    <input id="password" name="password" type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label" >手机号码</label>
                                                <div class="col-md-9">
                                                    <input type="text" class="form-control" id="phone" name="phone">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label">设置角色 <span class="text-danger">*</span></label>
                                                <div class="col-md-9">

                                                    <input  name="roles" class="form-control input-height" type="checkbox" th:each="role: ${roles}" th:value="${role.id}" th:text="${role.roleName}+' /' +${role.description}">

                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label"></label>
                                                <div class="col-md-7">
                                                    <button type="submit" id="updateU" class="btn btn-primary">提交</button>
                                                    &lt;!&ndash;<button type="submit" class="btn btn-outline-secondary">取消</button>&ndash;&gt;
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                    <div class="card-body">


                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>-->
                    <!--<div class="tab-pane" id="Student-add">-->
                        <!--<div class="row clearfix">-->
                            <!--<div class="col-lg-12 col-md-12 col-sm-12">-->
                                <!--<div class="card">-->
                                    <!--<div class="card-header">-->
                                        <!--<h3 class="card-title">添加用户</h3>-->
                                        <!--<div class="card-options ">-->
                                            <!--<a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>-->
                                            <!--<a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<form class="card-body" method="post" action="/user/add" id="userform">-->
                                        <!--<div class="form-group row">-->
                                            <!--<label class="col-md-3 col-form-label">用户名 <span class="text-danger">*</span></label>-->
                                            <!--<div class="col-md-9">-->
                                                <!--&lt;!&ndash;<font style="color: red" th:errors="${user.username}"></font>&ndash;&gt;-->
                                                <!--<input type="text" name="username" class="form-control" placeholder="输入真实姓名">-->
                                            <!--</div>-->
                                        <!--</div>-->

                                        <!--<div class="form-group row">-->
                                            <!--<label class="col-md-3 col-form-label">密码<span class="text-danger">*</span></label>-->
                                            <!--<div class="col-md-9">-->
                                                <!--<input name="password" type="text" class="form-control">-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="form-group row">-->
                                            <!--<label class="col-md-3 col-form-label">手机号码</label>-->
                                            <!--<div class="col-md-9">-->
                                                <!--&lt;!&ndash;<font style="color: red" th:errors="${user.phone}"></font>&ndash;&gt;-->
                                                <!--<input name="phone" type="text" class="form-control">-->
                                            <!--</div>-->
                                        <!--</div>-->

                                        <!--<div class="form-group row">-->
                                            <!--<label class="col-md-3 col-form-label">设置角色 <span class="text-danger">*</span></label>-->
                                            <!--<div class="col-md-9">-->
                                                <!--&lt;!&ndash;<input  name="roles" class="form-control input-height" type="checkbox" th:each="role: ${roles}" th:value="${role.id}" th:text="${role.roleName}+' /' +${role.description}">&ndash;&gt;-->

                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="form-group row">-->
                                            <!--<label class="col-md-3 col-form-label"></label>-->
                                            <!--<div class="col-md-7">-->
                                                <!--<button type="submit" class="btn btn-primary">提交</button>-->
                                                <!--<button type="submit" class="btn btn-outline-secondary">取消</button>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--&lt;!&ndash; <div class="form-group row">-->
                                            <!--<label class="col-md-3 col-form-label">Profile Picture</label>-->
                                            <!--<div class="col-md-9">-->
                                                <!--<input type="file" class="dropify">-->
                                                <!--<small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>-->
                                            <!--</div>-->
                                        <!--</div> &ndash;&gt;-->
                                    <!--</form>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <!-- Start assets footer -->
        <div class="section-body">
            <div th:insert="~{university/import :: footer}"></div>
        </div>
    </div>
</div>

<!-- Start Main project js, jQuery, Bootstrap -->

<!-- Start Plugin Js -->


<script src="/univer/validateUser.js"></script>
<!-- Start project assets js  and page js -->

</body>
</html>
